.form-container {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .form-container2{
    display:grid;
    justify-content: center;
    align-items: center;

  }

.displayCounteiner{
    border-radius: 0 50px 50px 50px;
    box-shadow: 10px 0 10px 0 #000 ;
}

.displayCounteiner-2{
    border-radius: 0 50px 50px 50px;
    box-shadow: 10px 0 10px 0 #000 ;
}

.displayCounteiner-3{
    border-radius: 0 50px 50px 50px;
    box-shadow: 10px 0 10px 0 #000 ;
}

.fonte{
    font-family: 'Bakbak One', cursive;
}

.fonteSize{
    font-size: 20px;
}

.fundoVerde{
    background-image: url(../assets/Fundo.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.fundoVerde-2{
    background-image: url(../assets/Fundo.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.form-container-2 {
    display:flex;
    justify-content: center;
}


.custom-scrollbar{
    margin-top: 4%;

}